@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700&display=swap");

// font-family: 'IBM Plex Serif', serif;
// font-family: 'Montserrat', sans-serif;

//navbar
$font-family-sans-serif: "Montserrat", sans-serif;
$navbar-nav-link-padding-x: 1.3rem;
$input-border-radius: 20px;

//color
$secondary: rgba(237, 237, 237, 1);
$input-bg: rgba(250, 250, 250, 1);
$input-group-addon-bg: rgba(250, 250, 250, 1);
$input-border-color: rgba(250, 250, 250, 1);

//button
$btn-border-radius: 2rem;
$btn-padding-x: 1rem;
$btn-border-radius-sm: 2rem;
$btn-padding-x-sm: 1rem;
//container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  // xxl: 1320px
);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
);
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.para {
  font-family: "IBM Plex Serif", serif;
}
.brand-logo {
  font-size: 2rem;
}

.users {
}

.users img {
  border-radius: 50%;
  margin-left: -15px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.users img:first-child {
  margin-left: 0;
}

.personal-social-links a:hover {
  color: black !important;
}
